
:root{
    --white: #fff;
    --black: #000;
    --orange: #ff6900;
    --red:#ff0000;
    --green: #008000;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*   #debug *{
    border: 1px dashed;
}  */ 

.font-size-18{
    font-size: 18px;
}
.pd-updown-30{
    padding: 60 0px;
}
.color-white{
    color: var(--white);
}
.color-black{
    color: var(--black)
}
.color-red{
    color: var(--red);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-justify-center{
    justify-content: center;
}
.flex-align-center{
    align-items: center;
}
.flex-center-center{
    justify-content: center;
    align-items: center;
}
.flex-justify-between{
    justify-content: space-between;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-justify-end{
    justify-content: end;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-test-unused{
    gap:100px;
}
.padding-top-test{
    padding-top: 42px;
}
.padding-9ud{
    padding: 9px 0px;
}
.padding-16ud{
    padding: 16px 0px;
}
.margin-bottom-02{
    margin-bottom: 0.2rem;
}
.margin-bottom-03{
    margin-bottom: 0.3rem;
}
.margin-bottom-30px{
    margin-bottom: 30px;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-small-06{
    font-size: 0.6rem;
}
.text-small-08{
    font-size: 0.8em;
}
.text-small{   /* POSSIBLE DE-ASSEMBLE  */
    font-size: 0.8em;
    padding: 0.17em 0.5em;
}
.text-small-padding-topbottom{
    font-size: 0.8em;
    padding: 0.17em 0em;
}
.img_cover_norepeat_center{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_contain_norepeat_center{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed-top{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1
}
.position-move-topright{
    top: 10px;
    right: 0px;
}
.position-move-bottomleft{
    bottom: 75px;
    left:0px;
}
.visibility-hidden{
    visibility: hidden;
}
.display-none{
    display: none;
}
.text-line-through{
    text-decoration: line-through;
}
.text-bold{
    font-weight: bold;
}
.bottom-shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 3.7);
}

#app_header{
    .header_woman_man_baby, .header_boolean_logo, .header_icons{
        width: 33%;
    }
    .header_boolean_logo{
        background-image: url("/assets/img/boolean-logo.png");
    }
}
#app_main{
    #img_relaxed_fit_tee_uni{
        background-image: url("/assets/img/1.webp");
    }
    #img_roses_tee{
        background-image: url("/assets/img/2.webp");
    }
    #img_voglia_colori_pastello{
        background-image: url("/assets/img/3.webp");
    }
    .main_row{
        width: 100%;
        margin-top: 30px;
    }
    .item{
        width: 33%;
    }
    .item img{
        object-fit: cover;
        max-width: 100%;
        height: auto;
        display: block; /* //ELIMINA SPAZI BIANCHI SOTTO IMMAGINI!! */
    }
    .discount span{
        background-color: var(--red);
    }
    .item_made span{
        background-color: var(--green);
    }
    .icon_heart{
        background-color: var(--white);
        width: 12%;
        height: auto;
    }
    .icon_heart span{
        font-size: 1.6em;
    }
    #img_relaxed_fit_tee_uni:hover {
        background-image: url("/assets/img/1b.webp");
        opacity: 0.4;
    }  /* WORKING ON CHANGE IMG WHEN HOVER */

    
}
#app_footer{
    .icon_share{
        /* background-color: var(--white); */
        border: 1px solid var(--white);
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 0.25rem;
    }
}


